<!--
  Generated template for the AddPostPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Add Product</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form [formGroup]="productForm">
    <ion-item>
      <ion-label floating>Brand<span>*</span></ion-label>
      <ion-input formControlName="brand" type="text"></ion-input>
    </ion-item>
    <div *ngIf="formErrors.brand">
      <div *ngFor="let errors of formErrors.brand">
        <p style="color: #C33825;font-style:italic;">{{errors}}<p>
      </div>
    </div>
    <ion-item>
      <ion-label floating>Product<span>*</span></ion-label>
      <ion-input formControlName="product" type="text"></ion-input>
    </ion-item>
    <div *ngIf="formErrors.product">
      <div *ngFor="let errors of formErrors.product">
        <p style="color: #C33825;font-style:italic;">{{errors}}<p>
      </div>
    </div>
  </form>
  <div padding>
    <button (click)="save()" color="dark" outline ion-button round block>Save</button>
  </div>
</ion-content>